* {
    margin: 0;
    padding: 0;
    font-family: "Archivo Black";
    scroll-behavior: smooth;
    transition: .2s;
    
}
.logo-nav-phone {
    display: none;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
button {
    border: none;
    height: 3.2rem;
    width: 15rem;
}
.mobile-ul {
     height: 0;
     width: 0;
}


.desktop-ul {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 2rem;
    height: 5rem;
    width: 100%;
}
.logo-nav {
    width: 8rem;
}
.left-aligned {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    font-size: 27px;
}
.right-aligned {
    padding-right: 4rem;
}
.nav-button {
    font-size: 30px;
    background-color: rgb(175, 226, 98);
}
.mobile-nav {
    display: none;
}

@media (max-width: 480px) {
    .desktop-nav {
        display: none;
    }
    
    .mobile-nav {
        display: flex;
    }

    .logo-nav-phone {
        display: flex;
        width: 6rem;
    }
    .mobile-ul {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.493);
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        padding: 1rem;
        gap: .6rem;
        transition: .2s;
    }
    .top-mobile-ul {
        display: flex;
        background-color: black;
        justify-content: space-between;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 2.5rem;
        gap:1.5rem;
        transition: .2s;
        height: 1rem;
    }

    .burger {
        display: inline;
    }
    .close {
        display: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 1300px) {
    .desktop-ul {
        gap: .8rem;
    }
    .left-aligned {
        font-size: 18px;
        gap: .8rem;
    }
    .nav-button {
        width: 10rem;
        font-size: 18px;

    }
}


/**
.hero {
    z-index: -1;
    background-color: gray;
    height: 49rem;
    background-repeat: no-repeat;
    
}

.image-hero {
    z-index: 1;
    position: relative;
    width: 31rem;
    height: 15rem;
    filter: drop-shadow(1px 5px 4px #000000);
    left: 5%;
    transform: translate(8%, 100%);
}

